.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  .imageStyle {
    display: none;
}

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-secondary, .btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
}

.btn-primary:disabled {
  color: var(--bs-white)
}


h3 {
  color: #198754;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titleStyle {
  font-size: "5vh";
}

.imageStyle  {}

.divTitleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24645b;
  height: 15vh;
  color: white;
}

/* Page */

.app-wrapper {

}

/* Header */
.header {
  background-color: #24645b;
  color: white;
  height: 15vh;
  position: relative;
  z-index: 1;
}

.titulo-form {
  margin-top: -5vh;
}

/* Body section (white card that overlaps header) */
.body-section {
  position: relative;
  margin-top: -10vh; /* overlaps the header */
  z-index: 2;
}

/* Main white container */
.main-card {
  background-color: white;
  border-radius: 20px;
  min-height: 75vh;
}

/* Optional: adjust layout proportions */
.left-col {
  border-right: 1px solid #eee;
}

.right-col {
  display: flex;

}

/* Decorative image box */
.decorative-box {
  position: relative;
  width: 100%;
  height: 300px;
}

.corner-image {
  position: absolute;
  top: 10px;
  margin-top: -5vh;
  right: 10px;
  width: 17vw;
  object-fit: contain;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
